# Run run_linux.sh or run_windows.bat to generate actual secrets. This file is not runnable.
NARSIKA_SECRET_KEY=
NARSIKA_ENCRYPTION_KEY=
NARSIKA_ADMIN_USERNAME=admin
NARSIKA_ALLOWED_NETWORKS=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
NARSIKA_COOKIE_SECURE=false
NARSIKA_TRUST_PROXY_HOPS=0
NARSIKA_BIND_ADDRESS=0.0.0.0
NARSIKA_WEB_NETWORKS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
NARSIKA_PORT=8000
NARSIKA_SCAN_MAX_HOSTS=256
NARSIKA_JOB_TIMEOUT=300
