[defaults]
inventory = ./inventory.example.yml
host_key_checking = True
retry_files_enabled = False
display_skipped_hosts = False
forks = 5

[persistent_connection]
connect_timeout = 30
command_timeout = 90
log_messages = False

[paramiko_connection]
host_key_auto_add = False
